// COLORS

$color-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);

$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-grayish-blue: hsl(201, 11%, 66%);

// FONT SIZES

$font-size-medium: 1.8rem;
$font-size-big: 3.6rem;
$font-size-huge: 4rem;

// MARGINS

$margin-top-tiny: 3rem;
$margin-top-small: 5rem;
$margin-top-medium: 7.5rem;
$margin-top-big: 15rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $color-grayish-blue;
  font-size: $font-size-medium;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}
