.section-desktop {
  &__sides--container {
    display: flex;
    gap: 15rem;

    margin-top: 7.5rem;
  }

  &__left--side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
  }
}

.cards {
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-between;
}
