.section-desktop {
  &__sides--container {
    display: flex;
    gap: 15rem;
  }

  &__left--side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    margin-top: $margin-top-medium;
  }
}

.cards {
  margin-top: $margin-top-medium;
  display: flex;
  justify-content: space-between;
}
