.heading-primary,
.heading-secondary,
.subheading {
  color: $color-dark-grayish-blue;
}

.heading-primary {
  padding-top: 3rem;
  font-size: $font-size-huge;
}

.text {
  color: $color-grayish-blue;
}
