.heading-primary,
.heading-secondary,
.subheading {
  color: $color-dark-grayish-blue;
}

.heading-primary {
  margin-top: $margin-top-tiny;
  font-size: $font-size-huge;
}

.heading-secondary {
  margin-top: $margin-top-big;
  font-size: $font-size-big;
}

.subheading {
  margin-top: $margin-top-tiny;
}

.text {
  color: $color-grayish-blue;
  margin-top: 2rem;
  line-height: 1.75;
}

.blockquote {
  .text {
    margin-top: 1rem;
  }
}
